/*BASE*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', sans-serif;
}
.app-container {
  max-width: 600px;
  margin: 0 auto;
}
.wrapper {
  border-radius: 3px;
  background-color: white;
  padding: 12px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(11, 48, 9, 0.15);
  -moz-box-shadow: 0px 0px 15px 1px rgba(11, 48, 9, 0.15);
  box-shadow: 0px 0px 15px 1px rgba(11, 48, 9, 0.15);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wrapper.whover:hover {
  cursor: pointer;
  -webkit-transform: translate(2px, -2px);
  -moz-transform: translate(2px, -2px);
  -ms-transform: translate(2px, -2px);
  -o-transform: translate(2px, -2px);
  transform: translate(10px, -10px);
  -webkit-box-shadow: -10px 10px 0px 0px rgb(184, 193, 183);
  -moz-box-shadow: -10px 10px 0px 0px rgb(184, 193, 183);
  box-shadow: -10px 10px 0px 0px rgb(184, 193, 183);
}
input {
  -webkit-appearance: none;
}
.flying-img {
  position: absolute;
  -webkit-box-shadow: 0px 0px 100px 20px rgba(11, 48, 9, 0.15);
  box-shadow: 0px 0px 100px 20px rgba(11, 48, 9, 0.15);
  opacity: 0.4;
  animation: float 6s ease-in-out infinite;
  animation-duration: 4.5s;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
.tooltip-holder {
  position: relative;
}
.tooltip {
  display: none;
  position: absolute;
  top: calc(50% - 14px);
  left: 45px;
  width: auto;
  padding: 5px 5px 7px;
  z-index: 100;
  background: #6c7563;
  color: #fff;
  -moz-border-radius: 3px; /* this works only in camino/firefox */
  -webkit-border-radius: 3px;
  font-size: 0.8rem;
  text-transform: capitalize;
}
.tooltip::before {
  content:'';
  display:block;
  width:0;
  height:0;
  position:absolute;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 6px solid #6c7563;
  left: -6px;
  top: 10px;
}
.tooltip-holder:hover .tooltip {
  display: block;
}
button {
  font-size: 1.2rem;
  font-family: 'Source Code Pro', sans-serif;
  border: 0;
  padding: 20px 30px!important;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 3px;
  outline: none;
}
.add-btn {
  background: #2e3b21;
  color: white;
}
.full-screen {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.effects > div {
  padding-right: 10px;
  display: inline-block;
}
.effects > div:last-child {
  padding-right: 0;
}
.error {
  position: relative;
  display: block;
}
.error:before,
.error:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.error:before {
  background: #d64545;
  border-radius: 5px;
  color: #ffffff;
  content: attr(data-title);
  padding: 4px 8px;
  top: 0;
  white-space: nowrap;
  width: auto;
  height: 15px;
  font-size: 13px;
}
.error.fade:after,
.error.fade:before {
  transform: translate3d(0,-20px,0);
  transition: all .15s ease-in-out;

}
.error.fade.showTooltip:after,
.error.fade.showTooltip:before {
  opacity: 1;
  transform: translate3d(0,-30px,0);
}
/*END BASE*/


/*SEARCH BAR*/
.search-bar {
  position: relative;
}
.search-bar img {
  position: absolute;
  top: calc(50% - 20px);
  left: 50px;
}
.search-bar input {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 60px;
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 20px 50px 20px 116px;
  font-size: 1.6rem;
  font-family: 'Source Code Pro', sans-serif;
  color: #2e3b21;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.search-bar input:focus {
  -webkit-box-shadow: 0px 0px 50px 10px rgba(11,48,9,0.1);
  -moz-box-shadow: 0px 0px 50px 10px rgba(11,48,9,0.1);
  box-shadow: 0px 0px 50px 10px rgba(11,48,9,0.1);
}

/*STRAIN LIST*/
.strain-list > div:first-child {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}
.strain-list > div:first-child p {
  cursor: pointer;
}

/*STRAIN BLOCK*/
.strain-block {
  margin-bottom: 15px;
  margin-right: 15px;
  display: inline-block;
}
.strain-block p {
  text-decoration: none;
  color: #2e3b21;
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.strain-block p:hover {
  color: black;
}

/*Add Strain*/
.nevermind-btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #2e3b21;
}
.nevermind-btn:hover {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(11, 48, 9, 0.15);
  -moz-box-shadow: 0px 0px 15px 1px rgba(11, 48, 9, 0.15);
  box-shadow: 0px 0px 15px 1px rgba(11, 48, 9, 0.15);
}
.add {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(2000px);
  -moz-transform: translateY(2000px);
  -ms-transform: translateY(2000px);
  -o-transform: translateY(2000px);
  transform: translateY(2000px);
  transition-duration: 0.7s;
  margin-bottom: 60px;
  max-width: 600px;
  width: 100%;
  border-radius: 3px;
  background-color: white;
  padding: 40px 50px;
  -webkit-box-shadow: 0px 0px 100px 20px rgba(11, 48, 9, 0.15);
  box-shadow: 0px 0px 100px 20px rgba(11, 48, 9, 0.15);
}
.add.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.add .effects > div {
  padding-right: 30px;
  margin-bottom: 5px;
}
.add .effects > div .tooltip {
  left: 55px;
}
.add .effects img {
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.add .effects img:hover,
.add .effects .tooltip-holder.selected img {
  opacity: 1;
}
.add .effects .tooltip-holder.selected::after {
  content: '';
  background-image: url(/assets/check.png);
  position: absolute;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  left: 36px;
}
.add .section-header-sm {
  color: rgba(46, 59, 33, 0.55);
  font-size: 0.85rem;
}
.add .section-header-sm.second {
  color: #2e3b21;
}
.add input {
  margin-bottom: 30px;
  border: 0;
  border-bottom: 2px solid #2e3b21;
  width: 100%;
  max-width: 400px;
  font-size: 1.4rem;
  font-family: Source Code Pro, sans-serif;
  color: #2e3b21;
  padding-bottom: 7px;
  outline: none;
  text-transform: capitalize;
}
.add .section-header-sm.second span.empty,
.add .section-header-sm.first.empty {
  display: inline-block;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  color: #e43030;
}
.add::after,
.add::after {
  content: '';
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  position: absolute;
  color: white;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
  height: 0;
  opacity: 0;
}
.add.success::after {
  content: 'Strain Added!';
  background: #1ace1a;
  height: 100%;
  opacity: 1;
}
.add.fail::after {
  content: 'Hmm, something went wrong...';
  background: #ca1c31;
  height: 100%;
  opacity: 1;
  font-size: 1.6rem;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*LANDING*/
.landing header {
  text-align: center;
  color: #2e3b21;
  z-index: 2;
  margin-bottom: 60px;
  position: relative;
}
.landing header > h1 {
  font-size: 3.2rem;
  margin-top: 0;
}
.landing header > h3 {
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 2.2rem;
}
.landing header > p {
  color: #5a7441;
  font-size: 1.5rem;
}
.landing .add-btn {
  width: 230px;
  padding-top: 16px!important;
  font-size: 1.3rem;
  margin-top: 40px;
}
.landing .add-btn small {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  opacity: 0.5;
}
.landing .flying-img.first {
  top: calc(22% - 50px);
  left: -20px;
}
.landing .flying-img.second {
  bottom: -50px;
  right: -150px;
  animation-delay: 2s;
}
.landing .flying-img.third {
  bottom: -200px;
  left: -20px;
  animation-delay: 0.7s;
  animation-duration: 3s;
}

/*JOIN*/
.join {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  background: #2e3b21;
  padding: 40px;
  text-align: left;
  width: 100%;
  min-height: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.join.show {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.join .join-header {
  margin-bottom: 35px;
}
.join .join-header h3 {
  color: white;
  font-weight: normal;
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.join .join-header p {
  font-size: 0.9rem;
  color: #768962;
  margin-top: 5px;
}
.join .join-form input {
  width: 100%;
  border-radius: 3px;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 0;
  background: transparent;
  font-size: 1rem;
  outline: none;
  color: white;
  font-family: 'Source Code Pro', sans-serif;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(118,137,98,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(118,137,98,1);
  box-shadow: 0px 0px 0px 1px rgba(118,137,98,1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.join .join-form input::placeholder {
  color: #768962;
}
.join .join-form input:focus {
  -webkit-box-shadow: 0px 0px 5px 1.5px rgb(162, 187, 136);
  -moz-box-shadow: 0px 0px 5px 1.5px rgb(162, 187, 136);
  box-shadow: 0px 0px 5px 1.5px rgb(162, 187, 136);
}
.join .join-form button {
  width: 100%;
  margin-top: 10px;
  padding: 15px 20px!important;
}
.join .join-signin p {
  color: #768962;
  font-size: 0.9rem;
}
.join .join-signin p span {
  color: #cee0bd;
  cursor: pointer;
}

/*MEDIA*/
@media (max-width: 970px) {
  .landing .flying-img.third {
    display: none;
  }
}
@media (max-width: 600px) {
  .landing .flying-img.first {
    top: calc(15% - 50px);
    left: -20px;
    height: 80px;
  }
  .landing .flying-img.second {
    right: -250px;
    height: 400px;
  }
  .join {
    width: 90%;
    left: 5%;
    padding: 20px;
  }
  .join .join-form input {
    font-size: 0.9rem;
  }
  .app-container {
    max-width: 90%;
  }
  .search-bar img {
    left: 30px;
  }
  .search-bar input {
    font-size: 1.4rem;
    padding-left: 80px;
  }
  .strain-list > div:first-child {
    margin-bottom: 25px;
  }
  .strain-list > div:first-child h1 {
    font-size: 1.6rem;
  }
  .strain-list > div:first-child p {
    font-size: 0.9rem;
  }
  .add {
    width: 90%;
    margin-bottom: 40px;
    padding: 30px 40px;
  }
  .add .effects > div {
    padding-right: 20px;
  }
  .add .effects img {
    width: 36px;
  }
  .add .effects > div .tooltip {
    left: 45px;
  }
  button {
    font-size: 1rem;
    padding: 15px 20px!important;
  }
  .nevermind-btn {
    margin-right: 0;
  }
  .add .section-header-sm {
    margin-top: 0;
  }
}

@media (max-width: 420px) {
  .landing header>p {
    font-size: 1rem;
  }
  .landing header>h1 {
    font-size: 2.5rem;
  }
  .landing header>h3 {
    font-size: 1.6rem;
  }
  .add {
    padding: 15px 20px;
  }
  .join .join-header h3 {
    font-size: 0.9rem;
  }
  .join .join-header p,
  .join .join-signin p {
    font-size: 0.8rem;
  }
  .join .join-header {
    margin-bottom: 25px;
  }
  .landing .flying-img.second {
    right: -150px;
    height: 300px;
    bottom: -100px;
  }
  .landing .flying-img.first {
    left: -10px;
    height: 60px;
  }
}
